body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(75deg, rgba(0, 0, 255, 0.6), rgba(255, 150, 180, 0.6)), url('../img/back.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    width: 90%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header > a {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    transition: 0.3s ease-in-out;
    color: #969696;
    text-shadow: 1px 1px black;
    border-bottom: 2px solid transparent;
}

.header > a:hover {
    color: #F54318;
    border-bottom: 2px solid #F54318;
    box-shadow: 0 1px 0 white, 0 2px 0 #969696;
}

table {
    width: 92%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

thead th {
    text-align: left;
    background-color: #f1f1f1;
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #e9e9e9;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

td, th {
    padding: 10px;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 10px 0px 10px;
}

form.form-example {
    display: table;
    margin-left: 4%;
}

div.form-example {
    display: table-row;
}

label, input, select {
  display: table-cell;
  margin-bottom: 10px;
}

label, input {
  padding-right: 10px;
}